<div class="row g-3">
  <div class="col-md-4">
    <mat-card class="stat-card">
      <h5>Active Matches</h5>
      <p class="h2" >24</p>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="stat-card">
      <h5>Users</h5>
      <p class="h2">1,250</p>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="stat-card">
      <h5>Revenue</h5>
      <p class="h2">$9,800</p>
    </mat-card>
  </div>
</div>

<!-- <div class="input-fld">
  <form [formGroup]="checkForm">
  <input type="text" class="input" placeholder="enter value" formControlName="buttonCheck" (keyup)="toCheckEvenOrOdd()"/>
  </form>
</div>


<div>
  <button *ngIf="showButton && buttonType=='odd'" class="odd-btn" style="color: white; background-color: darkblue; margin: 15px;"  >ODD</button>
  <button *ngIf="showButton && buttonType=='even'" class="even-btn" style="color: white; background-color: darkred !important; margin: 15px;"  >EVEN</button>
</div>

<div>
  <button class="btn-primary" (click)="toCheckEvenOrOdd()">Check Value</button> -->
<!-- </div> -->

<!-- [ngStyle]="{
          'background-color': buttonType === 'even' ? 'darkblue' : 'darkred',
          'color': 'white',
          'margin': '15px',
          'padding': '8px 16px',

          
          'border-radius': '5px'
        } -->

<!-- Tasks -->
<!-- 
<div class="field" style="margin: 10px !important">
  <form [formGroup]="OddEvenForm">
    <input type="text" placeholder="Enter Number" class="input-fld" formControlName="inputNumber" (keyup)="toCheckFormValue()" />
  </form>

</div>

<h3 *ngFor="let item of loopNumber">Number Value :{{item.value}}</h3>

<div>
  <button
    class="even-btn"
    style="margin: 10px; color: white; background-color: darkred !important"
    *ngIf="showButton && buttonValue==1 "
  >
    Even Button
  </button>
  <button
    class="odd-btn"
    style="margin: 10px; color: white; background-color: green !important"
    *ngIf="showButton && buttonValue==2 "
  >
    Odd Button
  </button>
</div> -->


