table th, table td {
  vertical-align: middle;
}
a.text-primary {
  text-decoration: none;
}
a.text-primary:hover {
  text-decoration: underline;
}
.badge {
  font-size: 0.8rem;
}

/* Default tab background */
.nav-tabs .nav-link {
  background-color: #e8f1ff;         /* Light blue */
  color: #0d6efd;                    /* Blue text */
  margin-right: 5px;
  border-radius: 6px 6px 0 0;
  font-weight: 500;
  padding: 8px 16px;
  
}

/* Hover Effect */
.nav-tabs .nav-link:hover {
  background-color: #d4e4ff;
  color: #084298;
  cursor: pointer;
}

/* ACTIVE Tab */
.nav-tabs .nav-link.active {
  background-color: #0d6efd !important; /* Dark blue */
  color: #ffffff !important;            /* White text */
  border-color: #0d6efd !important;
  font-weight: 600;
}

