<div class="container mt-3">
  <h4 class="fw-bold mb-3">Active {{ selectedTab | titlecase }} Matches</h4>

 <div class="d-flex">
  <button class="btn btn-primary ms-auto" (click)="syncMachesLoading()">Sync Matches</button>
</div>


  <!-- ====== SPORT TABS ====== -->
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="selectedTab === 'cricket'"
        (click)="changeTab('cricket', 4)"
        >Cricket</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="selectedTab === 'soccer'"
        (click)="changeTab('soccer', 1)"
        >Soccer</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="selectedTab === 'tennis'"
        (click)="changeTab('tennis', 2)"
        >Tennis</a
      >
    </li>
  </ul>

  <!-- ====== MATCH TABLE ====== -->
  <table class="table table-bordered table-hover align-middle text-center">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>MKT ID</th>
        <th>Event Name</th>
        <th>Mtype</th>
        <th>Sport Name</th>
        <th>Open Date</th>
        <th style="width: 150px;">Select Source</th>
        <th>Update ScoreId</th>
        <th>Inactive</th>
        <th>Score</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="
          let match of filteredMatches
            | slice : (currentPage - 1) * pageSize : currentPage * pageSize;
          let i = index
        "
      >
        <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>

        <td class="d-flex flex-column">
          <span>{{ match.marketId }}</span>
          <span>{{ match.eventId }}</span>
        </td>

        <td><a class="text-primary fw-bold">{{ match.eventName }}</a></td>

        <td>
          <span *ngIf="match.mType" class="badge bg-primary"
            >{{ match.mType }}</span
          >
        </td>

        <td>
          <span class="badge bg-warning text-dark">{{ match.sportName }}</span>
        </td>

        <td>{{ match.openDate | date : "dd/MM/yyyy hh:mm:ss a" }}</td>

        <td>
          <!-- <select class="form-select mb-1" [(ngModel)]="match.scoreType">
            <option *ngFor="let s of sources" [value]="s">{{ s }}</option>
          </select> -->
          <select
            class="form-select mb-1"
            [(ngModel)]="match.scoreType"
            [ngModelOptions]="{standalone: true}"
          >
            <option value="">Select</option>
            <option *ngFor="let s of sources" [ngValue]="s">{{ s }}</option>
          </select>

          <button
            class="btn btn-success btn-sm w-100"
            (click)="updateSource(match)"
          >
            Update Source
          </button>
        </td>

        <td>
          <input
            type="number"
            class="form-control mb-1"
            [(ngModel)]="match.scoreId"
            placeholder="0"
          />

          <button
            class="btn btn-dark btn-sm w-100 mb-1"
            (click)="updateScore(match)"
          >
            Update ScoreId
          </button>

          <button class="btn btn-info btn-sm w-100" (click)="fetchScore(match)">
            Fetch ScoreId
          </button>
        </td>

        <td>
          <!-- <div class="form-check form-switch"> -->
            <!-- <input
              class="form-check-input"
              type="checkbox"
              [(ngModel)]="match.isActive"
              (change)="toggleStatus(match)"
            /> -->
             <label class="switch">
            <input
              type="checkbox"
               [(ngModel)]="match.isActive"
              (change)="toggleStatus(match)"
            />
            <span class="slider round"></span>
          </label>
          <!-- </div> -->
        </td>

        <td>
          <button
            class="btn btn-primary btn-sm w-100"
            (click)="goToIframePage(match)"
          >
            View Score
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <div class="d-flex justify-content-between mt-3">
    <div>
      Showing {{ pageSize }} per page (Total: {{ filteredMatches.length }})
    </div>

    <nav>
      <ul class="pagination pagination-sm mb-0">
        <li
          class="page-item"
          [class.disabled]="currentPage === 1"
          (click)="previousPage()"
        >
          <a class="page-link">Previous</a>
        </li>

        <li class="page-item disabled">
          <a class="page-link">Page {{ currentPage }} / {{ totalPages }}</a>
        </li>

        <li
          class="page-item"
          [class.disabled]="currentPage === totalPages"
          (click)="nextPage()"
        >
          <a class="page-link">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
