<div style="background-color: gold;">
<nav class="d-flex flex-column p-2" >
  <a routerLink="/app/dashboard" routerLinkActive="active" class="mb-1">
    <mat-icon>dashboard</mat-icon>
    <span class="ms-2">Dashboard</span></a
  >
  <a routerLink="/app/all-sports" routerLinkActive="active" class="mb-1">
    <mat-icon>sports_cricket</mat-icon><span class="ms-2">Matches</span></a
  >

  <a routerLink="/app/matches" routerLinkActive="active" class="mb-1">
    <mat-icon>sports_cricket</mat-icon><span class="ms-2">Live Tv</span></a
  >

  <a routerLink="/app/white-listing" routerLinkActive="active" class="mb-1">
    <mat-icon>web</mat-icon><span class="ms-2">White-Listing</span></a
  >

  <a routerLink="/app/active-matches" routerLinkActive="active" class="mb-1">
    <mat-icon>bolt</mat-icon>
    <span class="ms-2">M-Activities</span>
  </a>

  <a routerLink="/app/change-settings" routerLinkActive="active" class="mb-1">
    <mat-icon>edit</mat-icon>
    <span class="ms-2">Change Settings</span>
  </a>

  <a routerLink="/app/settings" routerLinkActive="active" class="mb-1">
    <mat-icon>settings</mat-icon><span class="ms-2">Settings</span></a
  >
</nav>
</div>

