<div class="ui-container">
  <h2>All Active Events</h2>

  <!-- SPORT TABS -->
  <div class="tabs">
    <button 
      [class.active]="selectedSport === 'Cricket'"
      (click)="selectSport('Cricket')">
      Cricket
    </button>

    <button 
      [class.active]="selectedSport === 'Soccer'"
      (click)="selectSport('Soccer')">
      Soccer
    </button>

    <button 
      [class.active]="selectedSport === 'Tennis'"
      (click)="selectSport('Tennis')">
      Tennis
    </button>
  </div>

  <h4>{{ selectedSport }}</h4>

  <!-- TABLE -->
  <table class="custom-table">
    <thead>
      <tr>
        <th>#</th>
        <th>MKT ID</th>
        <th>Event Name</th>
        <th>Open Date</th>
        <th>InActive/Active</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let match of getPaginatedMatches(selectedSport); let i = index">
        <td>{{ i + 1 + (currentPage[selectedSport] - 1) * pageSize }}</td>

        <td>
          <div class="market-id">{{ match.marketId }}</div>
          <div class="market-id">{{ match.subMarketId }}</div>
        </td>

        <td>{{ match.eventName }}</td>

        <td>{{ match.openDate | date : 'MM/dd/yyyy hh:mm:ss a' }}</td>

        <td>
          <label class="switch">
            <input
              type="checkbox"
              [checked]="match.isActive"
              (change)="toggleMatchStatus(match)"
            />
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- PAGINATION -->
  <div class="pagination-controls">
    <button 
      (click)="changePage(selectedSport, -1)"
      [disabled]="currentPage[selectedSport] === 1">
      Prev
    </button>

    <span>
      Page {{ currentPage[selectedSport] }} /
      {{ getTotalPages(selectedSport) }}
    </span>

    <button 
      (click)="changePage(selectedSport, 1)"
      [disabled]="currentPage[selectedSport] === getTotalPages(selectedSport)">
      Next
    </button>
  </div>
</div>
